# ---------
# Project environment variables
# ---------

# Project Settings
PROJECT_NAME=template-azure-python
PROJECT_LOG_LEVEL=INFO

# ---------
# Microsoft Foundry
# ---------

# Format: https://<resource-name>.services.ai.azure.com/api/projects/<project-name>
FOUNDRY_PROJECT_ENDPOINT=https://<resource-name>.services.ai.azure.com/api/projects/<project-name>
