{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "PROJECT_NAME": "template-azure-python",
    "TASK_REPOSITORY": "in-memory",
    "DUCKDB_PATH": "",
    "TELEMETRY_ENABLED": "false",
    "TELEMETRY_TRACES_PER_SECOND": "5",
    "TELEMETRY_LIVE_METRICS_ENABLED": "false",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  }
}
